@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
}

body {
  max-width: 2011px;
  max-height: 2209px;
}

.wrapper {
  font-family: "Roboto";
  position: relative;
}

.header {
  height: 84px;
  background: #007765;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav__link {
  font-size: 24px;
  color: white;
  text-decoration: none;
  border-right: 2px solid white;
  padding: 0 15px;
}
.nav__link:last-child {
  border: none;
}

.welcome {
  position: relative;
  text-align: center;
  height: 403px;
  background: url("../image/image.jpg") no-repeat;
  background-size: cover;
}
.welcome__centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 500;
  font-size: 72px;
}

.problem {
  height: 719px;
  margin-top: 48px;
}
.problem__header {
  color: #007765;
  font-size: 64px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 450px;
}
.problem__text {
  margin-top: 17px;
  height: 448px;
  font-weight: 400;
  font-size: 32px;
  display: flex;
  justify-content: center;
  margin: 0 450px;
  line-height: 38px;
}
.problem__text span {
  font-weight: 900;
}

.hero {
  padding-top: 128px;
  padding-bottom: 128px;
  background-image: url("../image/image (1).jpg");
  background-size: cover;
  background-position: center center;
}
.hero .container {
  box-sizing: border-box;
  max-width: 1219px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 55px;
}
.hero__message {
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #fff;
}

.PiperCoin__title {
  margin-top: 48px;
  height: 75px;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  color: #007765;
  display: flex;
  justify-content: center;
  align-items: center;
}
.PiperCoin__logo {
  background: url("../image/PPC Logo.jpg") no-repeat;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  margin: 16px 450px 0 450px;
  padding-left: 170px;
}
.PiperCoin__text {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  margin: 40px 450px 0 450px;
}

.container {
  box-sizing: border-box;
}

.Team {
  margin-top: 90px;
  background-color: #EEEEEE;
}
.Team__title {
  display: flex;
  justify-content: center;
  height: 78px;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  color: #007765;
}
.Team__members {
  height: 845px;
  width: 1700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.Team__members .member {
  padding-left: 350px;
}
.Team__members__name {
  color: #007765;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
}
.Team__members__name__role {
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.Team__members .member img {
  border-radius: 50%;
}

.footer {
  background-color: #333333;
  height: 176px;
}
.footer__text {
  padding: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */