@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
}
body {
  max-width: 2011px;
  max-height: 2209px;
}
.wrapper {
  font-family: "Roboto";
  overflow: hidden;
}
.header {
  height: 84px;
  background: #007765;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav {
		&__link {
      font-size: 24px;
      color: white;
      text-decoration: none;
      border-right: 2px solid white;
      padding: 0 15px;
    }
    &__link:last-child {
      border: none;
    }
}
.welcome {
  position: relative;
  text-align: center;
  height: 403px;
  background: url('../image/image.jpg') no-repeat;
  background-size: cover;
    &__centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-weight: 500;
      font-size: 72px;
    }
}
.problem {
  height: 719px;
  margin-top: 48px;
		&__header {
      color: #007765;
      font-size: 64px;
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 0 450px;
    }
		&__text {
      margin-top: 17px;
      height: 448px;
      font-weight: 400;
      font-size: 32px;
      display: flex;
      justify-content: center;
      margin: 0 450px;
      line-height: 38px;
      span {
        font-weight: 900;
      }
    }
}
.tagline {
		&__figure {}
}
.PiperCoin {
		&__text {}
    &__figure {}
}
.Team {
		&__name {}
		&__profession {}
}
.footer {
		&__text {}
}
